[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/gwm17/imgui.git
	branch = docking
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/gwm17/implot.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/gwm17/glfw.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
